{% extends 'AirAdminBundle::base.html.twig' %}


{% block pageTitle %}
    {% if tag.id is null %}
        {{ parent() }} - Dodawanie nowego Tagu
    {% else %}
        {{ parent() }} - Edycja tagu "{{ tag.name }}"
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if tag.id is null %}
                        Dodawanie nowego Tagu
                    {% else %}
                        Edycja tagu "{{ tag.name }}"
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.slug) }}
                        {{ form_row(form.save, {'attr': {'class': 'pull-right'}}) }}
                    {{ form_end(form) }}
                </div>
            </div> <!-- .panel -->
        </div> <!-- .col-md-12 -->                 
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}